/* body 스타일링 */
body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #e8b470;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

/* nav 부분 스타일링 */
.nav {
  display: flex;
  justify-content: space-around;
  width: 1600px;
  margin-left: 20px;
}

.nav img {
  width: 200px;
  margin-right: 600px;
}

.nav .nav_btn {
  display: flex;
  justify-content: center;
}

.nav .nav_btn .btn_1 {
  margin-top: 30px;
  background-color: rgb(254, 223, 96);
  border-radius: 40px;
  width: 170px;
  height: 60px;
  margin-right: 40px;
}

.nav .nav_btn .btn_1 p {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.nav .nav_btn .btn_2 {
  margin-top: 30px;
  background-color: rgb(254, 223, 96);
  border-radius: 40px;
  width: 170px;
  height: 60px;
}

.nav .nav_btn .btn_2 p {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

/* login box 기본 스타일링 */
.login_box {
  position: relative;
  z-index: 1;
  margin-left: 420px;
  margin-top: 80px;
  background-color: #fff;
  width: 800px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgb(238, 238, 238);
}

.login_box .login_title {
  font-size: 19px;
  text-align: center;
  padding-top: 70px;
  font-weight: 700;
}

.login_box .sns_id {
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  z-index: -1;
}

.sns_icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sns_icon .kakao img {
  width: 110px;
  margin: 20px;
}

.sns_icon .naver img {
  width: 110px;
  margin: 20px;
}

.sns_icon .apple img {
  width: 110px;
  margin: 20px;
}

/* img */
.img_1 img {
  position: relative;
  z-index: 2;
  bottom: 300px;
  left: 80px;
}
