/* body 스타일링 */
body {
  font-family: "Noto Sans KR", sans-serif;
  z-index: -1;
}

a {
  text-decoration: none;
  color: #000;
}

/* nav 부분 스타일링 */
.nav {
  display: flex;
  justify-content: space-around;
  width: 1600px;
  height: 100px;
  margin-left: 20px;
}

.nav img {
  width: 200px;
  margin-right: 600px;
}

.nav .nav_btn {
  display: flex;
  justify-content: center;
}

.nav .nav_btn .btn_1 {
  margin-top: 30px;
  background-color: rgb(254, 223, 96);
  border-radius: 40px;
  width: 170px;
  height: 60px;
  margin-right: 40px;
}

.nav .nav_btn .btn_1 p {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.nav .nav_btn .btn_2 {
  margin-top: 30px;
  background-color: rgb(254, 223, 96);
  border-radius: 40px;
  width: 170px;
  height: 60px;
}

.nav .nav_btn .btn_2 p {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

/* main-box */
.main-box {
  position: relative;
  justify-content: center;
  margin-left: 200px;
  margin-top: 50px;
  position: relative;
}
.main-box p {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
}

.main-box span {
  margin-top: 0;
  font-size: 20px;
}

/* price-box */
.main-box .price-box {
  margin-top: 30px;
  position: absolute;
  width: 800px;
  background-color: antiquewhite;
  height: 300px;
  border-radius: 30px;
  padding-top: 10px;
  float: left;
}

.main-box .price-box .little-box-btn {
  background-color: orange;
  width: 130px;
  height: 40px;
  margin-left: 650px;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}

.main-box .price-box .price-title {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 0px;
}

.price-box .price_twin {
  width: 700px;
  height: 150px;
  z-index: -1;
  margin-left: 40px;
  border-radius: 30px;
  background-color: #fff;
}

.main-box .price-ttt {
  width: 460px;
  height: 300px;
  background-color: #2196f3;
  margin-top: 60px;
  margin-right: 120px;
  float: right;
  border-radius: 40px;
}
